streamlit==1.29.0
python-dotenv==1.0.0
spacy==3.7.2
langchain==0.0.350
openai==v0.28.1
pandas==2.1.4
sentence-transformers==2.2.2
umap-learn==0.5.5
scikit-learn==1.3.2
hdbscan==0.8.33
plotly==5.18.0
apify-client==1.6.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz