streamlit
python-dotenv
spacy
langchain
openai==v0.28.1
pandas 
sentence-transformers
umap-learn
scikit-learn
hdbscan
plotly
tqdm
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz